.product-container{
    text-align: center;
}
.product-heading{
    text-align: center;
    position: absolute;
    top:0;
    right: 35%;
    font-size: 30px;
    color: white;
}

.product-image{
    width: 100%;
    height: 90vh;
    filter: blur(5px);
}

.cake-short-desc{
    color: white;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-weight: 600;
}