.footer-container {
  background-color: #3e3d3d;
  color: #fff;
  padding: 20px 5px;
  position: relative;
  
}

.pastry-paradise-logo {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  border-radius: 10%;
}
.public-date {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.social-media-icon {
  background-color: #fff;
  margin: 5px;
  width: 23px;
  border-radius: 50%;
  padding: 8px;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 10px;
  }
  
  .pastry-paradise-logo {
    position: static;
    display: block;
    margin: 0 auto 20px;
  }

  .links-container {
    flex-direction: column;
  }

  .social-media-icon {
    margin: 10px 0;
    width: 30px;
    padding: 10px;
  }

  .public-date {
    font-size: 12px;
  }
}